.container{
    margin: 30px;
}

.movie-img-div{
    width: 500px;
    height: 800px;
}

.movie-desc-div{
    width: 68%;
    height: 800px;
    position: absolute;
    top: 94px;
    left: 30%;
}

.movie-name{
    font-size: 50px;
    font-weight: bold;
}

.movie-genre{
    font-weight: bold;
    color: gray;
}

.movie-total-rating{
    font-size: 35px;
    color: rgb(228, 228, 22);
}

.buy-now{
    background-color: darkgoldenrod;
    color: aliceblue;
}

.audience-reaction-mark{
    font-size: medium;
    color: rgb(228, 228, 22);
}

.audience-reaction-description{
    font-size: 20px;
    font-weight: normal;
}

.audience-reaction-member{
    font-size: small;
    font-weight: normal;
}