<div class="bg">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/home">
            <h1>FITOS</h1>
        </a>
      </nav>
    <div align="center">
        <div class="center"data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <br><br><br><br>
            <span class="letters">
                Unlimited films, TV <br><br> programmes and more.
            </span> <br><br><br>
            <span class="letters" id="sub-title">
                Watch anywhere. Cancel at any time.
            </span> <br><br><br>
            <span class="sub-letters" data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="2000"
            data-aos-offset="0">
                Ready to watch? <b> Let's Get Started!</b>
            </span>
            <br><br>
            <button class="get-start" data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="2600"
            data-aos-offset="0" type="button" routerLink="/login" mat-flat-button color="primary">Get Start</button>
            <br><br>
        </div>
    </div>
      <footer class="text-center text-white fixed-bottom" style="background-color: #641010;">
        <!-- Copyright -->
        <div class="text-xl-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://www.google.com/">FITOSMOVIES</a>
          The Online Stream Platform &nbsp; &nbsp;
          <a href="http://localhost:4201/" class="text-light text-xl-end fixed-bottom" type="button" mat-stroked-button>Are you Flim Director ?</a>
        </div>
        <!-- Copyright -->
      </footer>
</div>
